<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <h1>Search</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Search music</h2>
                <form action="/" method="post">
                    <input name="musicname" placeholder="Music Name" type="text">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </body>
</html>