{% extends "base.html" %}

{% block header %}
    {% block title %}Search Songs{%endblock%}
{% endblock %}

{% block content%}
    <div class="row">
        <div class="col-12 col-xl-6">
            <div class="m-2 p-2 border rounded">
                <h2>Happy</h2>
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Song Name</th>
                            <th scope="col">Votes</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for happy_song in happy_songs %}
                            <tr>
                                <th scope="row" class="">{{ loop.index }}</th>
                                <td class="">{{ happy_song['name'] }}</td>
                                <td class="">{{ happy_song['vote_count'] }}</td>
                                <td><a href={{ happy_song['external_urls']['spotify'] }} class="btn btn-success" target="_blank">Listen!</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="m-2 p-2 border rounded">
                <h2>Sad</h2>
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Song Name</th>
                            <th scope="col">Votes</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sad_song in sad_songs %}
                            <tr>
                                <th scope="row" class="">{{ loop.index }}</th>
                                <td class="">{{ sad_song['name'] }}</td>
                                <td class="">{{ sad_song['vote_count'] }}</td>
                                <td><a href={{ sad_song['external_urls']['spotify'] }} class="btn btn-success" target="_blank">Listen!</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-6">
            <div class="m-2 p-2 border rounded">
                <h2>Intense</h2>
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Song Name</th>
                            <th scope="col">Votes</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for intense_song in intense_songs %}
                            <tr>
                                <th scope="row" class="">{{ loop.index }}</th>
                                <td class="">{{ intense_song['name'] }}</td>
                                <td class="">{{ intense_song['vote_count'] }}</td>
                                <td><a href={{ intense_song['external_urls']['spotify'] }} class="btn btn-success" target="_blank">Listen!</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="m-2 p-2 border rounded">
                <h2>Calm</h2>
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Song Name</th>
                            <th scope="col">Votes</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for calm_song in calm_songs %}
                            <tr>
                                <th scope="row" class="">{{ loop.index }}</th>
                                <td class="">{{ calm_song['name'] }}</td>
                                <td class="">{{ calm_song['vote_count'] }}</td>
                                <td><a href={{ calm_song['external_urls']['spotify'] }} class="btn btn-success" target="_blank">Listen!</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="/" class="btn btn-light mb-2 ms-2">Return</a>
{% endblock %}