{% extends "base.html" %}

{% block header %}
    {% block title %}Suggestions{%endblock%}
{% endblock %}

{% block content %}
    {% if songs %}
        {% for song in songs %}
            <div class="song card mt-2">
                <div class="card-body">
                    <h5 class="name card-title">{{ song.name }}</h5>
                    <h6 class="artist card-subtitle">{{ song.artist }}</h6>
                    <form method="POST" action="/result">
                        <input type="hidden" name="song_id" value="{{ song.id }}">
                        <button type="submit" class="btn btn-primary mt-2">Details</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="alert alert-primary" role="alert">No music was found.</p>
    {% endif %}
        <a href="/" class="btn btn-secondary mt-2">Return</a>
{% endblock %}